---
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/pages/404.scss";
---

<BaseLayout title="404 - Page Not Found">
  <section class="main">
    <h2 class="error-code">404</h2>
    <p class="error-message">Page Not Found</p>
    <a href="/" class="home-link">Return Home</a>
  </section>
</BaseLayout>
