---
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/pages/index.scss";
---

<BaseLayout title="首頁 | Astro React Startup">
  <section class="main">
    <h1 class="title">Hello Astro + React</h1>
    <p class="description">歡迎使用 Astro 與 React</p>
  </section>
</BaseLayout>
