---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { MOCK_PRODUCTS } from "@/constants";
import "@/styles/pages/products.scss";
---

<BaseLayout title="產品列表 | Astro React Startup">
  <section class="main">
    <h1 class="title">產品列表</h1>
    <div class="grid">
      {
        MOCK_PRODUCTS.map((product) => (
          <div class="card">
            <h2>{product.name}</h2>
            <p class="price">價格: ${product.price}</p>
            <p class="description">{product.description}</p>
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
